*{
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(127, 255, 212, 0.555);
    text-align: center;
    padding: 10px;
}

#login {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    background: rgb(245, 240, 240);
}